.box-header>.box-tools {
    top: 12px;
}

#main .box-body table {
    th, td {
        text-align: center;
        vertical-align: middle;
    }
    .option {
        padding: 18px 8px;
        display: flex;
        justify-content: space-between;
    }
} 


.companyLogo img {
    width: 140px;
    height: 140px;
}