<div class="box company-list">

    <div class="box-header with-border">
        <h3 class="box-title">
            <button id="addbtn" class="btn btn-block btn-success"><span class="fa fa-plus-circle"></span> 添加</button>
        </h3>
        <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 190px;">
                <input type="text" id="keywords" value="" name="pos_search" class="form-control pull-right" placeholder="搜索">

                <div class="input-group-btn">
                    <button type="button" id="pos_search" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-header -->
    {{ if data.data.length > 0 }}
    <div class="box-body">
        <table class="table table-bordered company-list__tabel">
            <tr>
                <th style="width: 10px">#</th>
                <th>公司图标</th>
                <th>公司名称</th>
                <th>公司地点</th>
                <th>企业性质</th>
                <th>经营范围</th>
                <th>员工人数</th>
                <th style="width: 140px">操作</th>
            </tr>
            {{each data.data}}
            <tr data-id="{{ $value._id }}">
                <td>{{ $index + 1 }}</td>
                <td><img width="50" height="50" src="http://10.9.189.25:3000{{$value.companyLogo}}" alt=""></td>
                <td>{{ $value.companyName}}</td>
                <td>{{ $value.companyLocation}}</td>
                <td>{{ $value.companyNature}}</td>
                <td>{{ $value.businessScope}}</td>
                <td>{{ $value.employeeNumber}}</td>
                <td class="option">
                    <button id="update" class="btn btn-sm btn-primary pos-update" posid="" pageno="" keywords=""><span
                            class="fa fa-edit"></span>
                        修改</button>
                    <button class="btn btn-sm btn-danger pos-remove" posid="" pageno="" pagecount="" pagesize=""
                        keywords="" filename=""><span class="fa fa-remove"></span> 删除</button>
                </td>
            </tr>
            {{/each}}

            <!-- <tr>
          <td colspan="8"> 暂无数据. </td>
        </tr> -->
        </table>
    </div>

    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#/companyList?pageNo=<%= (data.pageInfo.pageNo > 1) ? data.pageInfo.pageNo - 1 : data.pageInfo.pageNo%>">&laquo;</a></li>
            <% for(var i = 0; i < data.pageInfo.totalPage; i++){ %>
            <li class="{{if data.pageInfo.pageNo == i+1}}active{{/if}}">
                <a href="#/companyList?search=<%= data.pageInfo.search %>&pageNo=<%= i+1 %>">
                    <%= i+1 %>
                </a>
            </li>
            <% } %>
            <li><a href="#/companyList?pageNo=<%= (data.pageInfo.pageNo < data.pageInfo.totalPage) ? ~~data.pageInfo.pageNo + 1 : data.pageInfo.totalPage %>">&raquo;</a></li>
        </ul>
    </div>
    {{else}}
    <div class="box box-default">
        <div class="box-header with-border">
            <!-- <h3 class="box-title">Blank Box</h3> -->
        </div>
        <div class="box-body">
            当前没有公司信息，快去添加吧...
        </div>
        <!-- /.box-body -->
    </div>
    {{ /if }}
</div>
<!-- /.box -->