<div class="map">
    <div class="box">
        <div class="box-header with-border" id="header">
            <input id="origin" class="form-control" type="text" placeholder="请输入起点">
            <input id="terminus" class="form-control" type="text" placeholder="请输入终点">
            <div id="search" class="btn btn-default">搜索</div>
            <div class="info">
                <p id="info"></p>
            </div>
            <div id="panel"></div>
        </div>
        <div class="box-body" id="map-container"></div>
        <div class="box-footer with-border" id="map-panel">
        </div>
    </div>
</div>